.button {
  height: 26px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--colorButtonPrimaryUltraLight);
  cursor: pointer;
}

.button span {
  flex: 1;
  margin-left: 36px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.button img {
  min-width: 16.32px;
  min-height: 22.44px;
  max-width: 26px;
  max-height: 26px;
  position: absolute;
}

.actived span {
  color: #25292f;
}

.desabled {
  cursor: inherit;
}

.desabled span {
  color: #c4c4c4;
}
